* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

*{
	margin:0;
	padding: 0;
}
body{
 	background-color : pink;
 	max-width: 100%;
 	text-align: center;

 }

.clear{
	clear: both;
	display: block;
}
.item:hover img{
	opacity: 0.5;
}
.item{
	/*float: left;*/
	/*max-height: 200px;*/
	width: 100%;
	padding-left: 10px;
}

.item img{
	max-width: 100%;
	max-height: 100%;
	/*padding-top: 30px;*/
	margin-left: -8px;
}

#header {
	background-image: url(http://www.bactom.com/uploads/1/bannerweb-3.jpg);
	width: 1000px;
	margin: auto;
	height: 290px;

}
.qc{
	text-align: center;
	background: #583c24;;
	font: white;
	margin-bottom:15px;

}

.price{
	font-size: red;
}
#main-content, #main-content2, #footer1{
	width: 100%;
	border: 1px ;
	padding: 10px;
	border-top-width: 5px;
	font-size: 14px;
	color: green;
	text-decoration: none;
	/*float: left;*/
	max-width: 1000px;
	margin: auto;
	overflow: auto;
	border:1px dotted #c0bebe;
}


#main-content2{
	float:left;
	width: 82%;
	border:3px dotted #c0bebe;
}
#main-content div:hover, #main-content div.active{
	color:orange;
}

#main-content div.active{
	font-weight: bold;
}

.box2{
	float:left;
	position: relative;
	border-radius: 10px;
	background: white;
	border:1px dotted #c0bebe;
	padding: 8px;
	margin: 19px 9px;
	position: relative;
	display: block;
	font-family:"UTM-Helve",arial;
	width: 22.45%;
}
.ProductAttrs {
	text-align: center;
}
.ProductName{
	margin-top: 5px;
	text-align: center;
	height: 38px;

}

#menu {
  position: relative;

  
  magin: auto;
}
/*==Style cho menu===*/
#menu > ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
  width: 1000px;
  margin:auto;
}
#menu >ul > li {
  /*color: red;*/
  display: inline-block;
  width: 102px;
  height: 37px;
  line-height: 36px;
  margin-left: 7px;
}
#menu >ul >li >ul{
	max-width: 200px;
	list-style-type: none;
	background: #1F568B;
}
#menu >ul >li >ul >li{
	width:	200px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu  a.logo {

/*  border-radius: 50%;
  width: 50px;
  top:400px;
  left:400px;*/
}

a.logo img{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  top:-40px;
  left: 66px;
  opacity: 1;
  transition: opacity 2s linear;
}

a.logo:hover img{
  opacity: 0.5;

}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}

/*==Dropdown Menu==*/
.sub-menu {
  display: none;
  position: absolute;
}
#menu > ul > li {
  position: relative;
}
#menu li:hover .sub-menu {
  display: block;
}
.sub-menu li {
  margin-left: 0 !important;
}

/*==Menu cấp 3==*/
.sub-menu > ul {
  display: none !mportant;
}


/*.wrap {
	max-width: 1000px;
	margin:auto;
}*/
/*.box {
	/*width: 30%;
	border:1px;
	
	float:left;
	padding: 15px;

}*/

.row{
	width: 100%
	float: left;
	border:3px dotted #c0bebe;
	
	margin:3px 2px;
	border-radius: 3px;


}
.col{
	width: 18%;
	float:left;
	border:1px dotted #c0bebe;
	
}
.block-conten2{
	width: 100%;
	border:1px dotted #c0bebe;
}
.block-content ul li {
	
	list-style: none;
	background: url(http://www.bactom.com/tpl/luontuoisach.vn/images/footer-list-style-blue.png) 2px 20px no-repeat;
	/*margin-left: 14px;*/

}
.block-content a{
	text-decoration: none;
	font-size: 15px;
	padding: 1px;
	border-bottom: 1px dashed #3F51B5;
	padding-left: 5px;
	margin-left: 10px;
	font-weight: bold;
}

.block-content2 img{
	max-width: 100%;
}