span.req_notification{
	color: #d45252;
    float: right;
    margin-top: -36px;
}
.form_register label{
	width: 180px;

    padding: 18px;
}
.form_register li{
	list-style-type: none;
    border-bottom: 1px solid #eee;
}
span.req{
	color:#d45252;
}

button.submit{
	background: green;
    color: white;
    margin-left: 120px;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_register  li:last-child {
    border-bottom: 1px solid #795548;
}
form.form_register {
    width: 700px;
}
i.fa.fa-angle-down.fa-2x {
    padding: 1px;
}
.form-group.code-input {
    margin-bottom: 20px;
}
.code-input .tab-content .tab-pane .CodeMirror {
    height: 400px;
    color: #fff;
    border: none;
    box-shadow: none;
}
.CodeMirror.cm-s-zenburn {
    background-color: #3f3f3f;
}
.registerpage button.btn.btn-default {
    color: white;
    background: #00b4cc;
}
.accordition-container.first {
    height: 454px;
    overflow: hidden;
}