img {
	
	max-height: 300px;
}
img :hover {
	border-radius: 30%;
}


.name
{
	color: green;
}

.main-post
{
	text-align: center;
}

a :link {
	color : black;
}
a: visited {
	color : yellow;
}
a: hover {
	color  : red;
}
a:active {
	color : green;
}

